*.class
*.log

# Intellij
.idea
.
# VSCode
.vscode

# Bloop
.bloop
project/.bloop

# Metals
.metals
project/metals.sbt
project/project/.metals

# *.iml
# *.ipr

# Builds
out/
target/
project/project

# mpeltonen/sbt-idea plugin
.idea_modules/

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr
